<h1>Articles</h1>

<table >
    <% @articles.each do |article| %>
    <tr>
      <th>  
        TITLE
      </th>
      <th>
        BODY
      </th>
    </tr>
    <tr>
      <td>  
        <%= article.title %>
      </td>
      <td>
        <%= article.body %>
      </td>
    </tr>
    <% end %>
</ul>